name: pymarkdown

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install pymarkdownlnt
        run: python -m pip install --upgrade pip pymarkdownlnt
      - name: Lint Markdown
        run: pymarkdownlnt --config .pymarkdown.json --strict-config --enable-extensions front-matter,markdown-tables,markdown-task-list-items scan -r -e "./dist" -e "./.venv" -e "./.history" .
